<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
<!--        可以是多个-->
<!--        <welcome-file>Login.html</welcome-file>-->
<!--        可以是静态HTML也可以是动态servlet-->
        <welcome-file>test</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.hc.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>