<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    简单工厂模式-->
    <bean id="star" class="com.hc.beanFactory.starFactory" factory-method="get"/>

<!--    工厂方法模式-->
    <bean id="gunFactory" class="com.hc.beanFactory.GunFactory"/>
    <bean id="gun" factory-bean="gunFactory" factory-method="get"/>
</beans>